<?xml version="1.0" encoding="UTF-8"?>
<!-- Date:2017-09-22 22:34:45 -->
<!-- Created by Supermans1201 -->

<!-- rootPath:F:/workspace/testgetdir -->
<config path="F:\workspace\testgetdir">
	<selectProject name="F:/Users/Super/Documents/Neo4j"/>
	<projectlist readproject="true">
		<project name="F:/EspressoExamples-master/EspressoExamples-master"/>
		<project name="F:/mudroid3/Android_APP"/>
		<project name="F:/Users/Super/Documents/Neo4j"/>
	</projectlist>
</config>
